@model VotingApp.Business.Requests.LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1 class="text-center text-light">Kayıt Ol</h1>
<div class="p-2 alert-danger" asp-validation-summary="ModelOnly"></div>
<form asp-action="login" asp-controller="auth" method="post">
    <div class="form-group">
        <label class="text-light" for="email">Kullanıcı adı:</label>
        <input class="form-control" asp-for="@(Model.UserName)" placeholder="Kullanıcı adınızı girin">
    </div>
    <br />
    <div class="form-group">
        <label class="text-light" for="password">Şifre:</label>
        <input class="form-control" asp-for="@(Model.Password)" type="password" placeholder="Şifrenizi girin">
    </div>
    <br />
    <div class="text-right">
        <button style="float: right;" type="submit" class="btn btn-success">Giriş Yap</button>
    </div>
</form>
<br />
<br />
<div class="links">
    <strong class="text-light">Hesabınız yok mu?</strong><a href="auth/register"><strong>Kayıt Ol</strong></a>
</div>
