@model List<VotingApp.Entities.Poll>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Katıldığınız anketler</h1>
<br />

<table class="table table-hover table-striped table-bordered">
    <tbody>
        @foreach (var poll in Model)
        {
            <tr onclick="getData('@poll.Id')" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@poll.Id">
                <td>@poll.Title</td>
                <td>@poll.Description</td>
            </tr>
        }
    </tbody>
</table>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anket Detayı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 id="title"></h3>
                <p id="description"></p>
                <div id="pieChart" style="width:100%;height:60%;"></div>
                <h3>Katılımcılar</h3>
                <div id="participants" style="width:100%;height:fit-content;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/loader.js"></script>
    <script type="text/javascript" src="~/js/homeIndex.js"></script>
}
